app:
  image: registry/spray-app
  ports:
    - 8080:8080

tests:
  image: registry/spray-app-tests
  volumes:
    - ./src:/source/src
    - ./target/scala-2.11:/source/target/scala-2.11
  environment:
    - TEST_TYPE=all
